.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70vw;
  margin: 0 auto;
}

.App > * {
  width: 100%;
}

.skeleton-wrap .cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* width: calc(2rem + 100%); */
}

.skeleton-wrap .cards > *:not(:last-of-type){
  margin-right: 2rem;
}